<template>
  <div class="jumbotron" v-if="selectedimgData !== undefined">
    <div class="chat-box">
      <nav class="navbar navbar-light bg-light">
        <div
          v-for="image in imagesData"
          :key="image.key"
          v-on:click="imageClick(image)"
          class="nav-item text-primary"
        >{{image.Name}}</div>
      </nav>
      <div class="text-primary">
        <button v-on:click="addNew()" class="buttom btn btn-primary  float-right mt-2">Lisata</button>
      </div>

      <div class="row">
        <div class="col-4">
          <img
            class="mt-1 rounded d-block"
            :src="`http://104.131.122.192:3001/display?op=thumbnail&w=100&h=150&path=${selectedimgData.Id}/original/${selectedimgData.Img_file_name}`"
            alt="Image"
          />
        </div>
        <div class="col-8 mt-4">
          <div class="list-group">
            <p class="h4">
              {{selectedimgData.Name}} {{selectedimgData.Age}}v
              {{selectedimgData.City}}
            </p>
            <a class="text-danger h3" :href="`tel:${selectedimgData.Phone}`">ph.{{selectedimgData.Phone}}</a>
          </div>
        </div>
      </div>
      <div class="jumbotron">
        <div class="chat-box">
          <div class="list-group">
            <div class="list-group-item chat-item" v-for="chat in chatsData" :key="chat.key">
              <div class="chat-status text-center" v-if="chat.type==='join'||chat.type==='exit'">
                <img
                  v-on:click="imageClick(chat)"
                  class="rounded d-block"
                  :src="`http://104.131.122.192:3001/display?op=thumbnail&w=50&h=75&path=${chat.Id}/original/${chat.Img_file_name}`"
                  alt="Image"
                />
                <span class="chat-date">{{chat.sendDate}}</span>
                <span class="chat-content-center">{{chat.message}}</span>
              </div>
              <div v-else>
                <div class="chat-message text-right" v-if="chat.user === 'mina'">
                  <div class="right-bubble">
                    <span class="msg-name">Mina</span>
                    <!-- <span class="msg-date">{{chat.sendDate}}</span> -->
                    <p text-wrap>{{chat.message}}</p>
                  </div>
                </div>
                <div class="chat-message text-left" text-left v-if="chat.user !== 'mina'">
                  <div class="left-bubble">
                    <span class="msg-name">{{chat.user}}</span>
                    <!-- <span class="msg-date">{{chat.sendDate}}</span> -->
                    <p text-wrap>{{chat.message}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <form @submit.prevent="onSubmit">
                <div classs="input-group">
                  <input
                    class="form-control"
                    id="message"
                    v-model.trim="message"
                    :placeholder="`Kirjoita vesti.. ${selectedimgData.Name} Odotta!!`"
                  />
                  <button type="submit" class="btn btn-primary float-right mt-2" :disabled="!message">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Chat",
  data() {
    return {
      message: ""
    };
  },
  props: {
    imagesData: {
      type: Array,
      default: () => {
        return [];
      }
    },
    selectedimgData: undefined,
    chatsData: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },

  mounted() {
    if (typeof this.selectedimgData === "undefined") {
      var rnd = Math.floor(Math.random() * this.imagesData.length);
      this.selectedimgData = this.imagesData[rnd];
    }
  },
  methods: {
    addNew: function() {
      this.$emit("addNew");
    },
    imageClick: function(event) {
      this.$emit("clickFromSelectDefaultImg", event);
    },
    onSubmit() {
      // event.preventDefault();
      // this.$emit("data", this.data);
      this.$emit("onSubmit", this.message);
      this.message = "";
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.chat-box {
  /* font-family: "Indie Flower", cursive !important; */
  /* height: 50%;
  width: 100%; */
  overflow: scroll;
}
.chat-item {
  border: none;
}
.chat-status {
  min-height: 49px;
}
.chat-status .chat-date {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: #999;
  height: 15px;
  left: 10%;
  right: 10%;
}
.chat-status .chat-content-center {
  padding: 5px 10px;
  background-color: #e1e1f7;
  border-radius: 6px;
  font-size: 12px;
  color: #555;
  height: 34px;
  left: 10%;
  right: 10%;
}
.chat-message {
  width: 80%;
  min-height: 40px;
}
.chat-message .right-bubble {
  position: relative;
  background: #dcf8c6;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  padding: 5px 10px 10px;
  left: 15%;
}
.chat-message .right-bubble span.msg-name {
  font-size: 12px;
  font-weight: bold;
  color: green;
  display: block;
}
.chat-message .right-bubble span.msg-date {
  font-size: 10px;
  display: block;
}
.chat-message .right-bubble:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-left-color: #dcf8c6;
  border-right: 0;
  border-top: 0;
  margin-top: -0.5px;
  margin-right: -27px;
}
.chat-message .left-bubble {
  position: relative;
  background: #efefef;
  border-top-right-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  padding: 5px 10px 10px;
  left: 5%;
}
.chat-message .left-bubble span.msg-name {
  font-size: 12px;
  font-weight: bold;
  color: blue;
  display: block;
}
.chat-message .left-bubble span.msg-date {
  font-size: 10px;
  display: block;
}
.chat-message .left-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-right-color: #efefef;
  border-left: 0;
  border-top: 0;
  margin-top: -0.5px;
  margin-left: -27px;
}
</style>
