<template>
  <div id="app">
    <div class="container">
      <div class="m-2 jumbotron">
        <div class="row">
          <div class="col-7">Chatti.. Ilman rekisteröitymistä!
            <p class="text-success">
           {{lastimg.Name}} {{lastimg.Age}}v {{lastimg.City}} liity keskusteluun Nyt! 
            </p>
          </div>
          <div class="col-4">
            <div class="alert alert-warning p-0  float-right" role="alert">
           
            <img v-on:click="imageClick(lastimg)"
              class="m-1 rounded"
              :src="`http://104.131.122.192:3001/display?op=thumbnail&w=75&h=112&path=${lastimg.Id}/original/${lastimg.Img_file_name}`"
              alt="Image"
            />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 d-none d-lg-block">
          <SelectDefaultImg
            :images-data="this.images"
            @clickFromSelectDefaultImg="clickFromSelectDefaultImg"
          ></SelectDefaultImg>
        </div>

        <div class="col">
          <Chat
            :selectedimg-data="this.selectedimg"
            :images-data="this.images"
            :chats-data="this.chats"
            @clickFromSelectDefaultImg="clickFromSelectDefaultImg"
            @addNew="addNew"
            @onSubmit="onSubmit"
          ></Chat>
        </div>
      </div>
    </div>
    <footer id="footer"></footer>
  </div>
</template>

<script>
import SelectDefaultImg from "@/components/SelectDefaultImg";
import Chat from "@/components/Chat";
import db from "@/Firebase5";

import VueScrollTo from "vue-scrollto";
const analytics = db.analytics();
export default {
  name: "app",
  components: {
    SelectDefaultImg,
    Chat
  },
  data() {
    return {
      lastimg: "",
      selectedimg: undefined,
      firsttime: false,
      lastimgdate: Date(),
      guuid: "",
      rooms: [],
      images: [],
      chats: []
    };
  },

  beforeMount() {
    this.guuid = this.getCookie("guuid5");
    if (typeof this.guuid === "undefined") {
      this.guuid = this.generateUUID();
      this.setCookie("guuid5", this.guuid, 900);
      this.firsttime = true;
    }
  },
  mounted() {
    db.database()
      .ref("newimg")
      .on("value", snapshot => {
        // this.$emit("Lastimgdate", this.lastimgdate);
        snapshot.forEach(doc => {
          let item = doc.val();
          // item.key = doc.key;
          this.$emit("item", item);
          this.lastimg = item;
        });
      });

    db.database()
      .ref("imgs/")
      .on("value", snapshot => {
        this.images = [];
        // this.$emit("Lastimgdate", this.lastimgdate);
        snapshot.forEach(doc => {
          let item = doc.val();
          item.key = doc.key;

          this.images.push(item);
        });

        if (typeof this.selectedimg === "undefined") {
          var rnd = Math.floor(Math.random() * this.images.length);
          this.selectedimg = this.images[rnd];
        }
        if (this.firsttime) {
          this.$emit("firstTime");
          this.saveContact();
          this.firsttime = false;
        }
      });

    db.database()
      .ref("room/" + this.guuid + "/chats")
      .on("value", snapshot => {
        this.chats = [];
        snapshot.forEach(doc => {
          let item = doc.val();
          item.key = doc.key;
          this.chats.push(item);
        });
      });
  },
  methods: {
    addNew: function() {
      db.firestore()
        .collection("asknewimg")
        .add({
          guuid: this.guuid
        })
        .then(function() {
          // console.log('Document written with ID: ', docRef.id)
          VueScrollTo.scrollTo("#footer");
        })
        .catch(function(error) {
          // console.error('Error adding document: ', error)
          this.$emit("Error adding document:", error);
        });
    },
    clickFromSelectDefaultImg: function(event) {
      this.imageClick(event);
    },

    imageClick: function(event) {
      if (this.selectedimg.Id !== event.Id) {
        var now = new Date();

        if (typeof event.message === "undefined") {
          var msg = {
            message: event.Name + " Join chat",
            sendDate: now.toLocaleString(),
            type: "join",
            Name: event.Name,
            Id: event.Id,
            Img_file_name: event.Img_file_name,
            Phone: event.Phone,
            City: event.City,
            Age: event.Age
          };

          db.database()
            .ref("room/" + this.guuid + "/chats")
            .push(msg);
        }

        this.selectedimg = event;
        VueScrollTo.scrollTo("#footer");
      }
    },
    onSubmit(evt) {
      // this.$emit("New text", evt);
      // evt.preventDefault();
      analytics.logEvent("dialog", { ask: evt });
      var now = new Date();

      let newData = db
        .database()
        .ref("room/" + this.guuid + "/chats")
        .push();
      newData.set({
        type: "newmsg",
        sendDate: now.toLocaleString(),
        user: "mina",
        message: evt
      });

      db.firestore()
        .collection("clientmsg")
        .add({
          chatuuid: this.guuid,
          city: this.selectedimg.City,
          name: this.selectedimg.Name,
          nguid: this.guuid,
          phone: this.selectedimg.Phone,
          text: evt
        })
        .then(function() {
          // console.log('Document written with ID: ', docRef.id)
          VueScrollTo.scrollTo("#footer");
        })
        .catch(function(error) {
          // console.error('Error adding document: ', error)
          this.$emit("Error adding document:", error);
        });
      // this.data.message = "";
    },
    generateUUID() {
      let d = new Date().getTime();
      let uuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function(c) {
          let r = (d + Math.random() * 16) % 16 | 0;
          d = Math.floor(d / 16);
          return (c === "x" ? r : (r & 0x3) | 0x8).toString(16);
        }
      );
      return uuid;
    },
    setCookie(cookieKey, cookieValue, expirationDays) {
      let expiryDate = "";

      if (expirationDays) {
        const date = new Date();

        date.setTime(
          `${date.getTime()}${expirationDays || 30 * 24 * 60 * 60 * 1000}`
        );

        expiryDate = `; expiryDate=" ${date.toUTCString()}`;
      }

      document.cookie = `${cookieKey}=${cookieValue ||
        ""}${expiryDate}; path=/`;
    },
    getCookie(cookieKey) {
      let cookieName = `${cookieKey}=`;

      let cookieArray = document.cookie.split(";");

      for (let cookie of cookieArray) {
        while (cookie.charAt(0) == " ") {
          cookie = cookie.substring(1, cookie.length);
        }

        if (cookie.indexOf(cookieName) == 0) {
          return cookie.substring(cookieName.length, cookie.length);
        }
      }
    },
    saveContact() {
      var now = new Date();
      db.firestore()
        .collection("contacts")
        .add({
          id: this.guuid,
          imgname: this.selectedimg.Name,
          imgid: this.selectedimg.Id.toString(),
          img_file_name: this.selectedimg.Img_file_name,
          sendDate: now.toLocaleString()
        })
        .then(function() {
          // console.log('Document written with ID: ', docRef.id)
        })
        .catch(function(error) {
          // console.error('Error adding document: ', error)
          this.$emit("Error adding document:", error);
        });
    }
  }
};
</script>

<style>
#app {
  /* font-family: "Avenir", Helvetica, Arial, sans-serif; */
  font-family: "Indie Flower", cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 15 px;
}
</style>
